<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!--xacro:include filename="$(find crt_ctm2f110_gripper_visualization)/urdf/crt_ctm_2f_110_transmission.xacro" /-->

 <xacro:macro name="leftout_Link" params="prefix">
    <link name="${prefix}leftout_Link">
      <inertial>
      <origin xyz="-0.0068505 0.028833 -8.8224E-08" rpy="0 0 0" />
      <mass value="0.010089" />
      <inertia
        ixx="3.7101E-06"
        ixy="6.4157E-07"
        ixz="9.3979E-12"
        iyy="1.1175E-06"
        iyz="-4.9338E-11"
        izz="3.12E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/leftout_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.66667 0.69804 0.76863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/leftout_Link.STL" />
      </geometry>
    </collision>
  </link>
  </xacro:macro>
  
  <xacro:macro name="left_kckle" params="prefix">
    <link name="${prefix}left_kckle">
       <inertial>
      <origin
        xyz="-0.0057173 0.023663 -3.1623E-06" rpy="0 0 0" />
      <mass value="0.012137" />
      <inertia
        ixx="1.086E-05"
        ixy="1.05E-06"
        ixz="6.9749E-10"
        iyy="6.7673E-06"
        iyz="-7.7731E-10"
        izz="5.0823E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/left_kckle.STL" />
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/left_kckle.STL" />
      </geometry>
    </collision>      
    </link>
  </xacro:macro>

   <xacro:macro name="leftinn_Link" params="prefix">
    <link name="${prefix}leftinn_Link">
    <inertial>
      <origin xyz="-0.030058 0.022769 5.1949E-07" rpy="0 0 0" />
      <mass value="0.018332" />
      <inertia
        ixx="6.7469E-06"
        ixy="3.6682E-06"
        ixz="9.1466E-11"
        iyy="3.9665E-06"
        iyz="-4.1418E-10"
        izz="9.6683E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/leftinn_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/leftinn_Link.STL" />
      </geometry>
    </collision> 
    </link>
  </xacro:macro>

  <!--right link-->
  <xacro:macro name="rightout_Link" params="prefix">
    <link name="${prefix}rightout_Link">
      <inertial>
      <origin xyz="-0.0068723 0.028828 -2.9285E-08" rpy="0 0 0" />
      <mass value="0.010089" />
      <inertia
        ixx="3.7101E-06"
        ixy="6.4157E-07"
        ixz="9.3979E-12"
        iyy="1.1175E-06"
        iyz="-4.9338E-11"
        izz="3.12E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/rightout_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.66667 0.69804 0.76863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/rightout_Link.STL" />
      </geometry>
    </collision>
  </link>
  </xacro:macro>
  
  <xacro:macro name="right_kckle" params="prefix">
    <link name="${prefix}right_kckle">
       <inertial>
      <origin
        xyz="-0.0057314 0.02366 1.5E-07" rpy="0 0 0" />
      <mass value="0.012137" />
      <inertia
        ixx="1.0859E-05"
        ixy="1.0525E-06"
        ixz="2.1785E-11"
        iyy="6.7687E-06"
        iyz="-4.3985E-11"
        izz="5.0823E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/right_kckle.STL" />
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/right_kckle.STL" />
      </geometry>
    </collision>      
    </link>
  </xacro:macro>

   <xacro:macro name="rightinn_Link" params="prefix">
    <link name="${prefix}rightinn_Link">
    <inertial>
      <origin xyz="-0.031109 0.022581 5.1949E-07" rpy="0 0 0" />
      <mass value="0.018332" />
      <inertia
        ixx="6.7524E-06"
        ixy="3.6661E-06"
        ixz="9.1156E-11"
        iyy="3.961E-06"
        iyz="-4.1425E-10"
        izz="9.6683E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/rightinn_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crt_ctm2f110_gripper_visualization/meshes/rightinn_Link.STL" />
      </geometry>
    </collision> 
    </link>
  </xacro:macro>
  <!--right end-->  

  <xacro:macro name="left_pad" params="prefix">
    <link name="${prefix}left_pad">
      <inertial>
      <origin
        xyz="0.013913 -0.019134 4.0039E-06"
        rpy="0 0 0" />
      <mass
        value="0.018332" />
      <inertia
        ixx="6.7469E-06"
        ixy="3.6682E-06"
        ixz="8.8651E-11"
        iyy="3.9665E-06"
        iyz="-4.0981E-10"
        izz="9.6683E-06"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctm2f110_gripper_visualization/meshes/left_pad.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctm2f110_gripper_visualization/meshes/left_pad.STL" />
      </geometry>
    </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="left_pad_joint" params="prefix">
    <joint name="${prefix}left_pad_joint" type="fixed">
      <origin xyz="-0.04597 0.041903 0" rpy="0 0 0" />
      <parent link="${prefix}leftinn_Link" />
      <child link="${prefix}left_pad" />
      <axis xyz="0 0 0" />
    </joint>
  <!--mimic joint="${prefix}finger_joint" multiplier="1" offset="0" /-->
  </xacro:macro>

  <xacro:macro name="right_pad" params="prefix">
    <link name="${prefix}right_pad">
      <inertial>
      <origin
        xyz="-0.015927 -0.019122 2.6116E-06"
        rpy="0 0 0" />
      <mass
        value="0.018332" />
      <inertia
        ixx="6.7414E-06"
        ixy="-3.6703E-06"
        ixz="8.896E-11"
        iyy="3.9721E-06"
        iyz="4.0974E-10"
        izz="9.6683E-06"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctm2f110_gripper_visualization/meshes/right_pad.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctm2f110_gripper_visualization/meshes/right_pad.STL" />
      </geometry>
    </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="right_pad_joint" params="prefix">
    <joint name="${prefix}right_pad_joint" type="fixed">
      <origin xyz="-0.047007 0.041727 0" rpy="0 0 0" />
      <parent link="${prefix}rightinn_Link" />
      <child link="${prefix}right_pad" />
      <axis xyz="0 0 0" />
    </joint>
  <!--mimic joint="${prefix}finger_joint" multiplier="1" offset="0" /-->
  </xacro:macro>

  <xacro:macro name="leftinn_joint" params="prefix">
    <joint name="${prefix}leftinn_joint" type="revolute">
      <origin xyz="-0.010946 0.0539 0" rpy="0 0 0" />
      <parent link="${prefix}leftout_Link" />
      <child link="${prefix}leftinn_Link" />
      <axis xyz="0 0 -1"/>
      <limit lower="-1" upper="0" velocity="2.0" effort="1000" />
      <mimic joint="${prefix}leftfinger_joint" multiplier="-1" offset="0" />
    </joint>
  </xacro:macro>
 
  <xacro:macro name="left_kckle_joint" params="prefix">
    <joint name="${prefix}left_kckle_joint" type="revolute">
      <origin xyz="-0.024 0 0.09025" rpy="1.5708 0 -3.1416" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}left_kckle" />
      <axis xyz="0 0 -1"/>
      <limit lower="-1" upper="1" velocity="2.0" effort="1000" />
      <mimic joint="${prefix}leftfinger_joint" multiplier="1" offset="0" />
    </joint>
  </xacro:macro> 

  <!--right joint--> 
  <xacro:macro name="rightinn_joint" params="prefix">
    <joint name="${prefix}rightinn_joint" type="revolute">
      <origin xyz="-0.0099181 0.054098 0" rpy="0 0 0" />
      <parent link="${prefix}rightout_Link" />
      <child link="${prefix}rightinn_Link" />
      <axis xyz="0 0 -1"/>
      <limit lower="-1" upper="0" velocity="2.0" effort="1000" />
      <mimic joint="${prefix}rightfinger_joint" multiplier="-1" offset="0" />
    </joint>
  </xacro:macro>
 
  <xacro:macro name="right_kckle_joint" params="prefix">
    <joint name="${prefix}right_kckle_joint" type="revolute">
      <origin xyz="0.024 0 0.090273" rpy="1.5708 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}right_kckle" />
      <axis xyz="0 0 -1"/>
      <limit lower="-1" upper="1" velocity="2.0" effort="1000" />
      <mimic joint="${prefix}rightfinger_joint" multiplier="1" offset="0" />
    </joint>
  </xacro:macro> 
  <!--right end--> 

  <xacro:include filename="$(find crt_ctm2f110_gripper_visualization)/urdf/urdf_async/crt_ctm2f110_async.xacro" />
  
  <xacro:macro name="leftout_joint" params="prefix">
    <joint name="${prefix}leftfinger_joint" type="revolute">
      <origin xyz="-0.057 0 0.07825" rpy="1.5708 0 -3.1416" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}leftout_Link" />
      <axis xyz="0 0 -1" />
      <limit lower="0" upper="1" velocity="2.0" effort="1000" />
    </joint>
    <xacro:finger_joints prefix="${prefix}"/>
  </xacro:macro>

  <xacro:macro name="rightout_joint" params="prefix">
    <joint name="${prefix}rightfinger_joint" type="revolute">
      <origin xyz="0.057 0 0.07825" rpy="1.5708 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}rightout_Link" />
      <axis xyz="0 0 -1" />
      <limit lower="0" upper="1" velocity="2.0" effort="1000" />
    </joint>
    <xacro:right_finger_joints prefix="${prefix}"/>
  </xacro:macro>

  <xacro:macro name="crt_ctm_2f_110" params="prefix">
    <xacro:base_link prefix="${prefix}"/>
    <xacro:finger_links prefix="${prefix}"/>
    <xacro:right_finger_links prefix="${prefix}"/>
    <xacro:leftout_joint prefix="${prefix}"/>
    <xacro:rightout_joint prefix="${prefix}"/>
    <!--xacro:crt_ctm_2f_110_transmission prefix="${prefix}"/-->
  </xacro:macro>
</robot> 
