<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="True" />
  <param name="robot_description" command="$(find xacro)/xacro $(find crt_ctm2f110_gripper_visualization)/urdf/urdf_sync/crt_ctm2f110_model.xacro" />
  <param name="use_gui" value="$(arg gui)"/>
  <node pkg="crt_ctm2f110_gripper_visualization" type="gripper_listener" name="gripper_listener" output="screen" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crt_ctm2f110_gripper_visualization)/visualize.rviz" required="true"/>
</launch>
