<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="crt_ctpm14">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.3759E-05 2.6591E-18 0.1049"
        rpy="0 0 0" />
      <mass
        value="0.10202" />
      <inertia
        ixx="2.4261E-05"
        ixy="1.1367E-22"
        ixz="-4.2352E-22"
        iyy="3.5094E-05"
        iyz="4.639E-22"
        izz="5.0389E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctpm14_gripper_visualization/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctpm14_gripper_visualization/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_Link">
    <inertial>
      <origin
        xyz="-3.8186E-17 -0.0084622 0.025504"
        rpy="0 0 0" />
      <mass
        value="0.10202" />
      <inertia
        ixx="3.5094E-05"
        ixy="-4.639E-22"
        ixz="1.1367E-22"
        iyy="5.0389E-05"
        iyz="4.2352E-22"
        izz="2.4261E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctpm14_gripper_visualization/meshes/left_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctpm14_gripper_visualization/meshes/left_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint"
    type="prismatic">
    <origin
      xyz="0.02547 0 0.11336"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="left_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="-0.007"
      effort="1"
      velocity="0.05" />
  </joint>
  <link
    name="right_Link">
    <inertial>
      <origin
        xyz="3.696E-17 0.0084622 0.025504"
        rpy="0 0 0" />
      <mass
        value="0.10202" />
      <inertia
        ixx="3.5094E-05"
        ixy="4.639E-22"
        ixz="-1.1367E-22"
        iyy="5.0389E-05"
        iyz="4.2352E-22"
        izz="2.4261E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctpm14_gripper_visualization/meshes/right_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://crt_ctpm14_gripper_visualization/meshes/right_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint"
    type="prismatic">
    <origin
      xyz="-0.025538 0 0.11336"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="right_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="-0.007"
      effort="1"
      velocity="0.05" />
  </joint>
</robot>
